<h1>What does the map higher level function do?</h1>
<p>The higher level function known as "map" (.map()) takes in an array and runs each element in that array through another function. e.g </p>
<p>
    funciton square(x) takes in x and squares it. 
    if we have an array that we want to sq each number in the array we would say (var squareArray = originalArray.map(sqare))</p>
<p>originalArray would still be the same HOWEVER squareArray would have the square of all of the numbers in originalArray</p>

